<div class="marginTop">
<div class="col-md-7 clearSpace">
	<div class="item">
	  <img src="../assets/contact2.jpg" alt="Second slide" data-holder-rendered="true">
	</div>
</div>

<div class="col-md-5 clearSpace">
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>
</div>