<div class="marginTop">
<div class="col-md-7 clearSpace">
	<div class="item">
	  <%= image_tag('contact2.jpg') %>
	</div>
</div>

<div class="col-md-5 clearSpace">
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>
</div>