<div class="marginTop">
	<div class="col-md-12 clearSpace">
		<div class="item">
			<%= image_tag('contact3.jpg') %>
		</div>
	</div>
	<div class="col-md-1"><h3><a href="mailto:sdgarland@btinternet.com?subject=Message%20from%20the%20website">sdgarland@btinternet.com</a></h3>
</div>