<div class="col-md-6 clearSpace justify black">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu purus felis. Aliquam lacinia a ex eget venenatis. Nulla semper quam eu varius facilisis. Sed vestibulum orci eget magna iaculis, id ultrices nunc finibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla vel urna bibendum, suscipit nulla non, hendrerit odio. Vivamus orci felis, eleifend nec purus vitae, volutpat vehicula mi. Nunc malesuada vehicula semper. Praesent rutrum augue sapien, eu porta libero faucibus ac.<br/><br/>

	Duis pulvinar sem erat, sit amet lacinia erat vestibulum eget. Duis ultrices bibendum mauris, quis porta dui facilisis eget. Nulla facilisi. Nulla mollis odio ut odio lobortis, volutpat lobortis ligula venenatis. Praesent rhoncus est vel egestas sagittis. Suspendisse potenti. Maecenas fermentum commodo nibh et scelerisque. Aenean lacus diam, euismod interdum risus sit amet, mattis mattis nunc. Praesent ut enim varius, blandit nisl ac, ornare felis. Quisque eget dolor vel orci interdum feugiat. Pellentesque viverra lorem ac tincidunt iaculis. Duis hendrerit mi in orci blandit, eu malesuada neque auctor.
</div>
<div class="col-md-1">&nbsp;</div>
<div class="col-md-5">
	<div class="item">
      <img src="../assets/DG3.jpg" alt="Third slide" data-holder-rendered="true">
    </div>
</div>
<br/><br/>
<div class="col-md-12 clearSpace">
	<iframe src="https://player.vimeo.com/video/183839436" width="640" height="360" frameborder="0" 
	webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>