<div class="marginTop">
	<div class="col-md-7 clearSpace aboutPad justify">
		Born in England in 1941, David Garland grew up in New Zealand. In 1961 he returned and trained at the London College of Printing. Later, he taught there, and at the Bath Academy of Art, Corsham, as a senior lecturer.<br/><br/>
	
		He was also working as an artist. His first one-man exhibition of paintings was at the Drian Galleries in 1963.<br/><br/>
	
		in 1972 he was taught to make pots by the potter Jonathan Atkinson, and set up a small pottery in Oxford. IN 1975 he moved with his family to the Gloucestershire Cotswolds, where he built painting and pottery studios and a large wood-fired kiln.<br/><br/>
	
		At present he makes slipware, painted with oxides - cobalt, manganese, copper and iron, fired in an electric kiln. He sells mainly from the studio. and commissions from interior designers and private clients.
		<br/><br/><br/>
		<iframe src="https://player.vimeo.com/video/183839436" width="640" height="360" frameborder="0" 
		webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<br/><h4>Bibliography</h4><br/>
		<table>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">2003</td>
				<td height="28" valign="top">British Studio Ceramics: Paul Rice, published by Crowood Press</td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1989</td>
				<td height="28" valign="top">A Dictionary of British Studio Potters: Pat Carter, published by Scolar Press</td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1987</td>
				<td height="28" valign="top">The New Ceramics: Trends and Traditions: Peter Dormer, published by Thames and Hudson</td>
			</tr>
		</table><br/>
		<div class="item">
	      <img src="../assets/about.jpg" alt="Third slide" data-holder-rendered="true">
	    </div>
		<br/><h4>Articles</h4><br/>
		<table>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">2003</td>
				<td height="28" valign="top">British Studio Ceramics: Paul Rice, published by Crowood Press</td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1989</td>
				<td height="28" valign="top">A Dictionary of British Studio Potters: Pat Carter, published by Scolar Press</td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1987</td>
				<td height="28" valign="top">The New Ceramics: Trends and Traditions: Peter Dormer, published by Thames and Hudson</td>
			</tr>
		</table>
		<table>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">2006</td>
				<td height="28" valign="top">Ceramic Review: Timothy Wilcox</td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1992</td>
				<td height="28" valign="top">Crafts: Review Timothy Wilcox</td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1990</td>
				<td height="28" valign="top">Crafts: Review Emmanual Cooper</td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1988</td>
				<td height="28" valign="top">Contemporary British Crafts, Japan.<br/> 
				Ceramics Monthly, USA</td>
			</tr>	
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1987</td>
				<td height="28" valign="top">Country Life: Leslie Geddes-Brown.  Crafts: Tanya Harrod.  British Vogue: Joanna Bell</td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1984</td>
				<td height="28" valign="top">Arts Review: Fred Ross.  Crafts: Pamela Johnson.<br/>
				Crafts: Alison Britten</td>
			</tr>
		</table>
		<br/><h4>Video and film</h4><br/>
		<table>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1993</td>
				<td height="28" valign="top">Channel Four Television: For Love or Money Series</td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1987</td>
				<td height="28" valign="top">Crafts Council Feature: Painter in Clay</td>
			</tr>
		</table><br/><br/>
	</div>
	<div class="col-md-5 clearSpace">
		<div class="item">
	      <img src="../assets/DG3.jpg" alt="Third slide" data-holder-rendered="true">
	    </div>
	</div>
	<br/><br/>
	<div class="col-md-5 clearSpace">
		<br/><h4>Selected Solo Shows</h4><br/>
		<table>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">2006</td>
				<td height="28" valign="top">David Garland: Ceramics<br/>
				<em>Galerie Besson, London</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">2000</td>
				<td height="28" valign="top">David Garland: Ceramics<br/>
				<em>Kate Ganz USA, New York</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1992</td>
				<td height="28" valign="top">David Garland: Paintings and Pottery<br/>
				<em>The Charleston Gallery, Sussex</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1990</td>
				<td height="28" valign="top">David Garland: Paintings, Tempera, Gouaches &amp; Ceramics<br/>
				<em>Redfern Gallery, London</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1989</td>
				<td height="28" valign="top">David Garland: Works on paper<br/>
				<em>Oxford Gallery, Oxford</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1987</td>
				<td height="28" valign="top">David Garland: PotteryCrafts<br/>
				<em>Council Gallery, London and tour of UK</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1984</td>
				<td height="28" valign="top">David Garland: Paintings and Pottery<br/>
				<em>Cirencester Workshops, Cirencester, UK</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1984</td>
				<td height="28" valign="top">David Garland: Paintings<br/>
				<em>Oxford Gallery, Oxford</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1983</td>
				<td height="28" valign="top">David Garland: Pottery<br/>
				<em>Crafts Council at ICA, London</em></td>
			</tr>
		</table>
		<br/><h4>Selected Group Shows</h4><br/>
		<table>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">2005</td>
				<td height="28" valign="top">Functional Form Now: British Domestic Ceramics <br/>
				<em>Galerie Besson, London</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">2001</td>
				<td height="28" valign="top">Recent Work by Gallery Artists<br/>
				<em>Kate Ganz USA, New York</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1991</td>
				<td height="28" valign="top">Selection from a Private Collection<br/>
				<em>Galerie Besson, London</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1991</td>
				<td height="28" valign="top">Beyond the Dovetail<br/>
				<em>Crafts Council travelling exhibition</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1991</td>
				<td height="28" valign="top">Colours of the earth—20th Century British Ceramics<br/>
				<em>British Council travelling exhibition, India</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1988</td>
				<td height="28" valign="top">Contemporary British Crafts<br/>
				<em>Kyoto and Tokyo</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1988</td>
				<td height="28" valign="top">Sotheby’s Decorative Arts Award Exhibition<br/>
				<em>London</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1987</td>
				<td height="28" valign="top">Vessel<br/>
				<em>Serpentine Gallery, London</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1987</td>
				<td height="28" valign="top">Domestic Pottery<br/>
				<em>Contemporary Applied Arts, London</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1986</td>
				<td height="28" valign="top">International Art Fair<br/>
				<em>Chicago, USA</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1984</td>
				<td height="28" valign="top">New Spirit of Omega<br/>
				<em>Victoria and Albert Museum, London</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1984</td>
				<td height="28" valign="top">British Ceramics<br/>
				<em>Fremantle Arts Centre, Australia</em></td>
			</tr>
			<tr class="spaceUnder">
				<td height="28" width="60" valign="top">1984</td>
				<td height="28" valign="top">Tableware: New Domestic Pottery<br/>
				<em>Crafts Council Gallery, London and tour of UK</em></td>
			</tr>
		</table>
		<br/><h4>Works held in public collections</h4><br/>
		<p>Victoria and Albert Museum, British Crafts Council, Bradford City Art Gallery UK, Cleveland Art Gallery UK, Paisley Museum and Art Gallery UK</p><br/>
		<br/><h4>Links</h4>
		<a href="http://www.belgravestives.co.uk/" target="_blank">Belgrave, St. Ives</a>
		<br/><br/>
	</div>
</div>