@import "bootstrap-sprockets";
$body-bg:#ffffff!default;
$red:#7c2c0a !default;
$text-color:$red !default;
@import "bootstrap";
@import "style";
@import "slicknav";
@import "media_queries";
@import "nprogress";
@import "nprogress-bootstrap";