@media (max-width: 1320px) {
  	.container {width:80%;}
}

@media (max-width: 991px) {
	.bgImage1, .bgImage2 {display:none;}
  	.aboutPad {padding-right:0px;}
	.container {width:90%;}
	.container-fluid h1 {float:left;}
	.largeImage {display:none;}
}

@media (max-width: 767px) {
  	.navbar-nav h1 {margin:-2px 40px 0px 12px;}
	.container {width:95%;}
	#menu {display:none;}
	.container-fluid h1 {font-size:28px;}
	.nav > li > a.dropdown-toggle{display:none;}
	.homeImage { 
	  background: url(bg3Small.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
}