.item {width:100%;}
.item img {width:100%;}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
.container-fluid{padding-left:0px;}
.navbar-nav h1 {margin:-2px 40px 0px 0px;}
.navbar-nav li {font-size:18px;margin-left:20px;}
.navbar-nav li:nth-child(1) {margin-left:0px;}
.navbar-nav li a {color:#7c2c0a;}
.navbar-nav > li > h1 > a:hover{text-decoration:none;}
.navbar-nav > li > a:hover{background-color:rgba(255,255,255,0)!important;color:#ffffff;transition: color 0.5s ease;}
.navbar-nav > li > a:active{background-color:rgba(255,255,255,0)!important;color:#ffffff;}
.navbar-nav > li > a:focus{background-color:rgba(255,255,255,0)!important;color:#ffffff;}
.bgImage {z-index:1;position:absolute;width:100%;margin:0;padding:0;}
.bgImage img {max-width:100%;}

.dropdown-menu li {margin-left:0px;}

.clearSpace {padding:0;margin:0;}
.justify {text-align:justify;}
.black {color:#000000;}