@font-face {
  font-family: 'Eddy';
  src:font-url('Avenir.eot');
  src:font-url('Avenir.eot?#iefix') format('embedded-opentype'),
    font-url('Avenir.svg#icomoon') format('svg'),
    font-url('Avenir.woff') format('woff'),
    font-url('Avenir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EddyLight';
  src:font-url('Avenir-Light.eot');
  src:font-url('Avenir-Light.eot?#iefix') format('embedded-opentype'),
    font-url('Avenir-Light.svg#icomoon') format('svg'),
    font-url('Avenir-Light.woff') format('woff'),
    font-url('Avenir-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4 {font-family:'Eddy';}

/* set background image per page */
.homeImage {
background: image-url('bg3.jpg') no-repeat center center fixed; 
}

.page-header {border-bottom:1.5px solid #7c2c0a;}

.item {width:100%;}
.item img {width:100%;}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
.container-fluid {padding-left:0px;}
.container-fluid h1 {margin:-2px 40px 0px 0px;float:left;}
.container-fluid h1 a {color:#7c2c0a;text-transform:uppercase;}
.container-fluid h1 a:hover {text-decoration:none;}
.navbar-nav {float:right;margin-right:-30px;}
.navbar-nav > li {font-size:19px;text-transform:uppercase;margin:0px;}
.navbar-nav > li > a, a {color:#7c2c0a;text-align:left;}
.navbar-nav > li > a:hover, a:hover{background-color:rgba(200,200,200,0)!important;color:#8B5742;transition:color 0.5s ease;text-decoration:none;}
.navbar-nav > li > a:active{background-color:rgba(200,200,200,0)!important;color:#8B5742;}
.navbar-nav > li > a:focus{background-color:rgba(200,200,200,0)!important;color:#8B5742;}
a:visited {text-decoration:none!important;color:#7c2c0a;}

.dropdown-menu {width:180px!important;margin-left:15px;}
.dropdown-menu > li > a {font-size:14px;}

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 16px;
    z-index: 10;
}

.number {margin-top:2px;}

.userInfo {position:absolute;top:36.5px;left:600px;}

hr {border-bottom:1px solid #000000;}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 14px;
    z-index: 9;
}

.thumbTiny {width:35px;}
.thumbTiny img {max-width:100%;}
.end {margin-top:12px;margin-bottom:36px;}
.end2 {margin-top:-132px;}
h3 {margin:35px 0px 35px 0px;}
.col-md-4 h2 {text-align:center;}
input, textarea {display:block;width:60%;margin: 6px 0px 12px 0px;}

.btn {background-color:#7c2c0a;border:1px solid #7c2c0a;color:#ffffff;width:20%;}
.btn:hover{background-color:#8a543d;border:1px solid #8a543d;transition: background-color 0.5s ease;}

.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}

#backgroundImage {width:100%;z-index:-4;position:absolute;}

.thumbnail {border:0!important;margin-bottom:0px;}

.bgImage1 {z-index:-2;position:fixed;width:100%;margin:0;padding:0;height:100%;}
.bgImage1 img {max-width:100%;height:100%;}

.bgImage2 {z-index:-1;position:fixed;width:100%;margin:0;padding:0;}
.bgImage2 img {max-width:100%;min-width:100%;}


.dropdown-menu li {margin-left:0px;}

.clearSpace {padding:0;margin:0;}
.justify {text-align:justify;}
.black {color:#000000;}
body {font-family:'EddyLight', sans-serif;letter-spacing:0.5px;font-weight:500;z-index:1;}

.dropdown-menu::before, 
.dropdown-menu::after {
    border: none;
    content: none;
}

.caret {display:none;}
.aboutPad {padding-right:50px;}
.aboutPad2 {padding-right:15px;}
.marginTop {margin-top:35px;}
ul {list-style:none;}
tr.spaceUnder > td {padding-bottom: 8px;}

.small-images a, .big-images a {display:inline-block;}
.small-images a.selected {border:1px solid red;}

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}