<div class="page-header">
 	<div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'About', abouts_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Work <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Studio Ceramics</a></li>
            <li><a href="#">Domestic Ware</a></li>
          </ul>
        </li>
		<li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->

